<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app [
        <!ENTITY precompiledJsp SYSTEM "precompiled-jsp-web.xml">
        ]>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>Cocomo</servlet-name>
        <servlet-class>myapp.Cocomo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cocomo</servlet-name>
        <url-pattern>/calculateCocomo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CocomoJson</servlet-name>
        <servlet-class>myapp.CocomoJson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CocomoJson</servlet-name>
        <url-pattern>/api</url-pattern>
    </servlet-mapping>
</web-app>
